
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 36% 98%;
    --foreground: 240 16% 16%;
    --card: 0 0% 100%;
    --card-foreground: 240 16% 16%;
    --primary: 245 90% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 240 16% 16%;
    --muted: 210 16% 93%;
    --muted-foreground: 220 13% 38%;
    --accent: 260 79% 64%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 90% 60%;
    --border: 210 16% 87%;
    --input: 210 16% 87%;
    --ring: 245 90% 60%;
    --radius: 0.75rem;
  }
  html {
    scroll-behavior: smooth;
    background: #f8fafc;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}
